<a href="https://colab.research.google.com/github/EJG2000/LEARN.PY/blob/main/TASK_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a dictionary that contains 
            name = Alex Ryder
            age  = 28
Update the age to 32 and another element to the dictionary
            age = 32
            town = calicut
Expected output
            {'name': 'Alex Ryder', 'age': 32, 'town': 'calicut'}

In [1]:
#please enter your answer below this line
person = dict()
person['name'] = "Alex Ryder"
person['age']  = 28

#updating and adding new element
person['age']  = 32
person['town'] = 'calicut'

print(person)

{'name': 'Alex Ryder', 'age': 32, 'town': 'calicut'}

2. Create a dictionary containing the squares of numbers from 1 to 5.
Expected output
            {1: 1, 2: 4, 3: 9, 4: 16, 5: 15}

From this dictionary remove the item 3 and its square.

Expected output
                    
                {1: 1, 2: 4, 4: 16, 5: 15}

Now remove all items from the dictionary.

Expected output

      {}

Now delete the dictionary itself.

In [6]:
#please enter your answer below this line
#Creating dictionary
numbers = {x:x**2 for x in range(1,6)}
print(numbers)

#removing and element
del numbers[3]
print(numbers)

#removing all elements
numbers.clear()
print(numbers)

#deleting dictionary
del numbers
try:
  print(numbers)
except Exception as e:
  print(e)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 4: 16, 5: 25}
{}
name 'numbers' is not defined

3. Make a set containing the elements 1, hello, (0,1,2).

Expected output
            
            {'hello', 1, (0, 1, 2)}

Now add the value 6 to the set.

Expected output

        {'hello', 1, (0, 1, 2), 6}

In [7]:
#please enter your answer below the line
items = {1, 'hello', (0,1,2)}
print(items)

items.add(6)
print(items)

{'hello', 1, (0, 1, 2)}
{'hello', 1, (0, 1, 2), 6}