<a href="https://colab.research.google.com/github/EJG2000/LEARN.PY/blob/main/TASK_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 11000 and 2000 (both included).

In [1]:
#please enter your answer below this line
lower = 2000
upper = 11000 + 1

#set lower as the first multiple of 11
lower = lower + 11-(lower%11)

#looping through the multiple of 11
for i in range(lower,upper,11):
  if i%7 == 0: #divisible by 7
    print(i,end=", ")

2002, 2079, 2156, 2233, 2310, 2387, 2464, 2541, 2618, 2695, 2772, 2849, 2926, 3003, 3080, 3157, 3234, 3311, 3388, 3465, 3542, 3619, 3696, 3773, 3850, 3927, 4004, 4081, 4158, 4235, 4312, 4389, 4466, 4543, 4620, 4697, 4774, 4851, 4928, 5005, 5082, 5159, 5236, 5313, 5390, 5467, 5544, 5621, 5698, 5775, 5852, 5929, 6006, 6083, 6160, 6237, 6314, 6391, 6468, 6545, 6622, 6699, 6776, 6853, 6930, 7007, 7084, 7161, 7238, 7315, 7392, 7469, 7546, 7623, 7700, 7777, 7854, 7931, 8008, 8085, 8162, 8239, 8316, 8393, 8470, 8547, 8624, 8701, 8778, 8855, 8932, 9009, 9086, 9163, 9240, 9317, 9394, 9471, 9548, 9625, 9702, 9779, 9856, 9933, 10010, 10087, 10164, 10241, 10318, 10395, 10472, 10549, 10626, 10703, 10780, 10857, 10934,

2. Write a program to print this pattern

           #
          ## 
         ###

In [2]:
#please enter your answer below this line
base = 3
for i in range(1,base+1):
  pattern = " "*(base-i) + "#"*i
  print(pattern)

  #
 ##
###

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [3]:
#please enter your answer below th:is line
fruits = ['apple','orange','apple','banana']

for i in range(len(fruits)):
  if fruits[i] == 'apple':
    fruits[i] = 'grapes'
print(fruits)

['grapes', 'orange', 'grapes', 'banana']